### Python Lists

### CRUD Methodology

## CHARACTERISTICS OF Lists: ordered, mutable and allows duplicate elements

In [4]:
# A list can contain any data types
software_prof = ["Tim",25,True,1.618]
print(software_prof)

['Tim', 25, True, 1.618]

In [5]:
# A list allows duplicate elements
construction_prof = ["Tim",25,True,1.618,"Tim",25,True]
print(construction_prof)

['Tim', 25, True, 1.618, 'Tim', 25, True]

### CRUD - Create

In [1]:
# Method 1: 
vegan_list = ["Tomato","Cashews","Almonds"]
print(vegan_list)

['Tomato', 'Cashews', 'Almonds']

In [2]:
# Method 2: 
veg_list = list()
print(veg_list)

[]

In [3]:
# Method 2: Later append Values
veg_list.append("Cottage Cheese")
veg_list.append("Palak")
veg_list.append("Milk Cheese")
print(veg_list)

['Cottage Cheese', 'Palak', 'Milk Cheese']

In [43]:
# Have duplicate elements a number of times
duplicate_5 = [5]*5
print(duplicate_5)

[5, 5, 5, 5, 5]

In [44]:
# Concat lists to create a new list
list_1 = ["Milk"]*5
list_2 = [5]*5
new_list = list_1 + list_2
print(list_1)
print(list_2)
print(new_list)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk']
[5, 5, 5, 5, 5]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5]

In [46]:
# Create using index
print(new_list)
index_list = new_list[:5]
print(index_list)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk']

In [49]:
# Copy a list - Incorrect way - Alters the original list
print(new_list)
new_list_copy = new_list
print(new_list)
print(new_list_copy)
new_list_copy.append(6)
print(new_list)
print(new_list_copy)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]

In [50]:
# Copy a list - Correct way - does not Alter the original list
print(new_list)
new_list_copy = new_list.copy()
print(new_list)
print(new_list_copy)
new_list_copy.append(6)
print(new_list)
print(new_list_copy)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6, 6]

In [51]:
# Copy a list - Correct way - does not Alter the original list
print(new_list)
new_list_copy = list(new_list)
print(new_list)
print(new_list_copy)
new_list_copy.append(6)
print(new_list)
print(new_list_copy)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6, 6]

In [52]:
# Copy a list - Correct way - does not Alter the original list
print(new_list)
new_list_copy = new_list[::]
print(new_list)
print(new_list_copy)
new_list_copy.append(6)
print(new_list)
print(new_list_copy)

['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6]
['Milk', 'Milk', 'Milk', 'Milk', 'Milk', 5, 5, 5, 5, 5, 6, 6]

### CRUD - Read

In [8]:
# You can read and item in the list with indexes
# Note that in Python the index starts with 0 for positive index
print(vegan_list)
print("first item is",vegan_list[0])
print("second item is",vegan_list[1])
print("third item is",vegan_list[2])

['Tomato', 'Cashews', 'Almonds']
first item is Tomato
second item is Cashews
third item is Almonds

In [9]:
# Note that in Python the index starts with -1 which is the last item in the list followed in reverse for negative index
print(vegan_list)
print("last item is",vegan_list[-1])
print("second last item is",vegan_list[-2])
print("third last item is",vegan_list[-3])

['Tomato', 'Cashews', 'Almonds']
last item is Almonds
second last item is Cashews
third last item is Tomato

In [10]:
# Itterate using for loop
for item in vegan_list:
    print(item)

Tomato
Cashews
Almonds

In [13]:
# Check if an item exists in the list:
print("Almonds" in vegan_list)
print("Vanilla" in vegan_list)

True
False

In [14]:
# Check how many elements inside the list
print(len(vegan_list))

3

In [45]:
# Slicing 
# slicing : (start index, stop index, step index)
numbers = [1,2,3,4,5,6,7,8,9,5,5,5,5]
print(numbers[2:8]) # starts and stops at the mentioned index
print(numbers[-1:-5]) # not working
print(numbers[::]) # all
print(numbers[2:]) # ends till the last
print(numbers[:6]) # starts all the way from the beginning

[3, 4, 5, 6, 7, 8]
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 5]
[3, 4, 5, 6, 7, 8, 9, 5, 5, 5, 5]
[1, 2, 3, 4, 5, 6]

### CRUD - Update

In [18]:
# append - Adds elements to the last
print(veg_list)
veg_list.append("Cheddar Cheese")
veg_list.append("Potato")
veg_list.append("Rice")
print(veg_list)

['Cottage Cheese', 'Palak', 'Milk Cheese']
['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']

In [19]:
# insert- Insert item to the specific index
print(veg_list)
veg_list.insert(1,"Cherry")
print(veg_list)
veg_list.insert(3,"Chocolate")
print(veg_list)

['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
['Cottage Cheese', 'Cherry', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
['Cottage Cheese', 'Cherry', 'Palak', 'Chocolate', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']

In [26]:
# reverse - reverse the list
veg_list_reverse = ['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
print(veg_list_reverse)
veg_list_reverse.reverse()
print(veg_list_reverse)

['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
['Rice', 'Potato', 'Cheddar Cheese', 'Milk Cheese', 'Palak', 'Cottage Cheese']

In [48]:
veg_list_2 = ['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
veg_list_2_reverse = veg_list_2[::-1]
print(veg_list_2)
print(veg_list_2_reverse)

['Cottage Cheese', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
['Rice', 'Potato', 'Cheddar Cheese', 'Milk Cheese', 'Palak', 'Cottage Cheese']

In [38]:
# sort 
integers = [0,9,6,3,7,7,5,2,1.2,-5,6]
integers.sort()
print(integers)
# Alters the original List

[-5, 0, 1.2, 2, 3, 5, 6, 6, 7, 7, 9]

In [20]:
# sort 

num_distribution = [2, 8, 1,6,6,8, 4, 6, 3, 7,2]
 
print("list sorted :")
print(sorted(x))
print("Sorting in reverse :")
print(sorted(x, reverse=True))
 
print("Not modified :")
print(x)
# does not Alter the original List
# duplicates are avoided

list sorted :
[1, 2, 3, 4, 6, 7, 8]
Sorting in reverse :
[8, 7, 6, 4, 3, 2, 1]
Not modified :
[2, 8, 1, 4, 6, 3, 7]

### CRUD - Delete

In [20]:
# pop - removes the Last item and returns it 
print(veg_list)
removed_item = veg_list.pop()
print(veg_list)
print(removed_item)

['Cottage Cheese', 'Cherry', 'Palak', 'Chocolate', 'Milk Cheese', 'Cheddar Cheese', 'Potato', 'Rice']
['Cottage Cheese', 'Cherry', 'Palak', 'Chocolate', 'Milk Cheese', 'Cheddar Cheese', 'Potato']
Rice

In [23]:
# remove - removes a specific element which is a value not an index
print(veg_list)
print("Chocolate" in veg_list)
veg_list.remove('Chocolate')
print(veg_list)
print("Chocolate" in veg_list)

['Cottage Cheese', 'Cherry', 'Palak', 'Chocolate', 'Milk Cheese', 'Cheddar Cheese', 'Potato']
True
['Cottage Cheese', 'Cherry', 'Palak', 'Milk Cheese', 'Cheddar Cheese', 'Potato']
False

In [25]:
# cleat - remove all elements
non_veg = ['Chicken', 'Blood', 'Egg']
print(non_veg)
non_veg.clear()
print(non_veg)

['Chicken', 'Blood', 'Egg']
[]

### List Comprehension

In [1]:
# List Comprehension is a replacement for for loop
list_1 = []
for x in range(5):
    list_1.append(x)
print(list_1)

[0, 1, 2, 3, 4]

In [2]:
# list comprehension is a Pythonic way of handling
list_2 = [x*x for x in range(5)]
print(list_2)

[0, 1, 4, 9, 16]

In [3]:
# Syntax
# new_list = [expression/calculation for member in itterable]
a = [1,2,3,4,5,6]
b = [x*x for x in a]
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [4]:
# Using a function in a list comprehension
def frequency_calculation(i):
    frequency = i * 126.22 * 5
    return frequency

In [5]:
frequencies = [frequency_calculation(i) for i in a]
print(frequencies)

[631.1, 1262.2, 1893.2999999999997, 2524.4, 3155.5, 3786.5999999999995]

In [13]:
# (if conditional) can be added in the syntax after for loop to filter 
# new_list = [expression/calculation for member in itterable (if else conditional)]
# List of even numbers without 24
evens = [i for i in range(50) if i%2==0 and i!=24]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [16]:
# (if conditional) can be added in the syntax before for loop to modify the list based on a condtion 
# new_list = [(if else conditional) for member in itterable]
# Numbers less than 5 should be 0 and the other number should be itself
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
nums_new = [0 if i <5 else i for i in nums]
print(nums)
print(nums_new)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 0, 0, 0, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [17]:
# Also works with sets 
# new_set = {expression/calculation for member in itterable (if else conditional)}
quote = "Hello Everybody"
vowels_only = {x for x in quote if x in "aeiouAEIOU"}
print(quote)
print(vowels_only)

Hello Everybody
{'e', 'o', 'E'}

In [2]:
# We can also use the nest datatype which is a dictionary in lit comprehension as well
# Syntax: {dict_key: expression_member for member in itterable}
squared = {x: x*x for x in range(5)}
print(squared)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}